%h1 This is the Home Page
= link_to "Privacy Policy", home_privacy_policy_path
%button.btn.btn-primary{:type => "button"} Primary
%button.btn.btn-secondary{:type => "button"} Secondary
%button.btn.btn-success{:type => "button"} Success
%button.btn.btn-danger{:type => "button"} Danger
%button.btn.btn-warning{:type => "button"} Warning
%button.btn.btn-info{:type => "button"} Info
%button.btn.btn-light{:type => "button"} Light
%button.btn.btn-dark{:type => "button"} Dark
%i.far.fa-address-book
%i.fab.fa-github
%i.fa-brands.fa-facebook.fa-4x.fa-spin


= link_to courses_path, class: 'btn btn-success' do
  .fa.fa-book
  Course
