.card
  .card-header
    %h1 Editing course
  .card-body
    = render "form", course: @course
  %br/
  %div
    = link_to "Show this course", @course
    |
    \#{link_to "Back to courses", courses_path}
